.App {
  text-align: center;
  background-color: #ffcdc6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  background: #fd7d6c;
  padding: 0.3em;
}

.nav--topic {
  list-style-type: none;
  display: inline-block;
  padding: 0.5em;
}

ul {
  padding-left: 0;
  margin-top: auto;
  background: rgb(208, 221, 255);
}

.article--section {
  background-color: white;
  border-radius: 10px;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

@media only screen and (max-width: 600px) {
  margin-left: 15em;
}
